.roster-header-container {
  height: 70px;
  width: 100%;
  display: flex;
  border-bottom: 2px solid#b8c8b7;
  background-color: #ffffff;
}

.roster-dropdown {
  height: 50px;
  width: 100%;
  display: flex;
  border-bottom: 2px solid#b8c8b7;

}

.roster-main-container {
  height: 100%;
  // width:100%;
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #ffffff;

  flex-direction: column;
}

.roster-nav-main-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row !important;
}

.tab-pane {
  height: 100%;
  width: 100%;
}

.roster-table-container {
  border-right: 2px solid black;
  height: 100%;
  width: 65%;
}

.roster-form-container {
  display: flex;
  height: 100%;
  width: 35%;
  background-color: #ebebeb;
  flex-direction: column;
}

.roster-form-main-container {
  display: flex;
  height: 80%;
  width: 100%;
  flex-direction: column;
}

.roster-form-submit-container {
  display: flex;
  height: 20%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.roster-form-input-container {
  display: flex;
  height: 25%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.roster-form-checkbox-container {
  display: flex;
  height: 100%;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.input-component-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.table-cell {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

.group {
  width: 5%;
}

.name {
  width: 20%;
}

.grade {
  width: 5%;
}

.vdot {
  width: 5%;
}

.distance-events {
  width: 13%;
}

.sprint-events {
  width: 16%;
}

.sprint-options {
  width: 3%;
}

.throws-events {
  width: 30%;
}

.button {
  display: inline-flex;
  height: 40px;
  width: 200px;
  border: 2px solid #BFC0C0;
  margin: 20px 20px 20px 20px;
  color: #74a36c;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

a {
  color: #BFC0C0;
  text-decoration: none;
  letter-spacing: 1px;
}

#button-7 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-7 a {
  position: relative;
  left: 0;
  transition: all .35s ease-Out;
}

#dub-arrow {
  width: 100%;
  height: 100%;
  background: #BFC0C0;
  left: -200px;
  position: absolute;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .35s ease-Out;
  bottom: 0;
}

#button-7 img {
  width: 20px;
  height: auto;
}

#button-7:hover #dub-arrow {
  left: 0;
}

#button-7:hover a {
  left: 150px;
}

.nav-tabs {
  color: #74a36c;
  height: 45px;

}


$primary: #467246;
$secondary: #acdca4;
$white: #fff;
$gray: #9b9b9b;

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.1rem;
  color: #b8c8b7;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown~.form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;

  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight: 700;
  }

  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary, $secondary);
  border-image-slice: 1;
}

/* reset input */
.form__field {

  &:required,
  &:invalid {
    box-shadow: none;
  }
}

/* demo */
body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
  background-color: #222222;
}



.box {
  width: 100%;
  height: 100%;
  margin-left: 30px;
  display: flex;
  align-items: center;
  user-select: none;

  label {
    font-size: 22px;
    color: #9b9b9b;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    z-index: 10;
    padding-left: 50px;
    cursor: pointer;
  }

  input {
    opacity: 0;
    visibility: hidden;
    position: absolute;

    &:checked {

      ~.check {
        border-color: #6c9274;
        box-shadow: 0px 0px 0px 15px #6c9274 inset;

        &::after {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }

  .check {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 100px;
    background-color: #FFF;
    border: 2px solid #6c9274;
    box-shadow: 0px 0px 0px 0px #6c9274 inset;
    transition: all 0.15s cubic-bezier(0, 1.05, 0.72, 1.07);

    &::after {
      content: '';
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 4;
      position: absolute;
      transform: scale(0);
      background-size: 50%;
      background-image: url('https://s6.picofile.com/d/8392306668/bacc888c-bed7-41a9-bf24-f6ff0718f471/checkmark.svg');
      background-repeat: no-repeat;
      background-position: center;
      transition-delay: 0.2s !important;
      transition: all 0.25s cubic-bezier(0, 1.05, 0.72, 1.07);
    }
  }
}